/*============================================
=                 Dimensions                 =
============================================*/
$form-basic-width: 					400px;
$wrapper-width: 					100%;
$wrapper-min-width: 				1055px;
$content-sidebar-width: 			25%;
$content-sidebar-min-width: 		250px;
$content-inner-width: 				73%;

$button-back-width: 				42px;
$button-back-height: 				42px;

$form-content-label-width: 			25%;
$form-content-input-width: 			75%;
$form-content-select-width: 		200px;
$form-content-time-width: 			100px;

$form-content-normal-input-height: 	150px;
$form-content-large-input-height: 	300px;

/*=============================================
=                  Colours                   =
=============================================*/
$lightest-grey: 					#F4F4F4;
$lighter-grey: 						#D9D9D9;
$light-grey: 						#BEBEBE;
$grey: 								#999999;
$dark-grey: 						#666666;
$darker-grey: 						#333333;

$light-blue: 						#3498DB;
$dark-blue: 						#2980B9;

$light-red: 						#E74C3C;
$dark-red: 							#C0392B;

$light-green: 						#2ECC71;
$dark-green: 						#27AE60;

$brand-color: 						$light-blue;

/*=============================================
=                    Fonts                    =
=============================================*/
$font-body: 						'Open Sans', sans-serif;




